---
import Layout from "../layouts/BaseLayout.astro";
---

<Layout title="Welcome to Astro.">
	<div class="mockup-code">
		<pre data-prefix=">"><code>Hello World!</code></pre>
		<pre data-prefix=">"><code>I am Thomas Hinterberger</code></pre>
		<pre
			data-prefix=">"><code>I am a indie developer located in Austria</code></pre>
	</div>

	<h3 class="text-xl font-bold mt-10 underline underline-offset-8">Work</h3>

	<p class="p-4">
		Thomas is a freelance and a full-stack developer based in Osaka with a
		passion for building digital services/stuff he wants. He has a knack for
		all things launching products, from planning and designing all the way
		to solving real-life problems with code. When not online, he loves
		hanging out with his camera.
	</p>

	<h3 class="text-xl font-bold mt-10 underline underline-offset-8">Tech Stack</h3>

	<p class="p-4">
		
	</p>


</Layout>